# To run this pipeline:
# biolockj anigma_stress.config

#BioModule biolockj.module.diy.GenMod AS Participant_Metadata
#BioModule biolockj.module.diy.Rmarkdown AS Clinical_Metrics
#BioModule biolockj.module.diy.Rmarkdown AS Feature_Interactions
#BioModule biolockj.module.diy.Rmarkdown AS Individual_Stability_16S
#BioModule biolockj.module.diy.Rmarkdown AS Individual_Stability_WGS
#BioModule biolockj.module.diy.ForEachLoop AS Taxonomy_vs_Features
#BioModule biolockj.module.diy.ForEachLoop AS Diversity_Metrics
#BioModule biolockj.module.diy.Rmarkdown AS Diversity_Markdown
#BioModule biolockj.module.diy.ForEachLoop AS Diversity_vs_Features
#BioModule biolockj.module.diy.Rmarkdown AS HumanN2_vs_Features

input.dirPaths=./input
pipeline.copyInput=Y
input.ignoreFiles=README.md
pipeline.inputTypes=other

Participant_Metadata.scriptPath=./01_Participant_Metadata/src/meta-per-participant.R
Participant_Metadata.launcher=Rscript

Clinical_Metrics.rmarkdown=./02_Clinical_Metrics/src/clinical-metrics.Rmd 
Clinical_Metrics.verifyImage=N

Feature_Interactions.rmarkdown=./03_Feature_Interactions/src/feature-interactions.Rmd

Individual_Stability_16S.rmarkdown=./04_Individual_Stability/src/participantStability.Rmd

Individual_Stability_WGS.rmarkdown=./04.5_Individual_Stability_wgs/src/participantStability_wgs.Rmd

Taxonomy_vs_Features.scriptPath=./05_Taxonomy_vs_Features/src/Taxonomy_vs_Feature.R
Taxonomy_vs_Features.launcher=Rscript
Taxonomy_vs_Features.loopBy=class, order, family, genus, species 

Diversity_Metrics.scriptPath=./08_Diversity_Metrics/src/Diversity_Metrics.R
Diversity_Metrics.launcher=Rscript
Diversity_Metrics.loopBy=class, order, family, genus, species 
Diversity_Metrics.resources=./08_Diversity_Metrics/resources/PlotDiversityRichness.R

Diversity_Markdown.rmarkdown=./08_Diversity_Metrics/src/Diversity_Metrics_family.Rmd
Diversity_Markdown.resources=./08_Diversity_Metrics/resources/PlotDiversityRichness.R

Diversity_vs_Features.scriptPath=./08.1_Diversity_vs_Features/src/Diversity_vs_Features.R
Diversity_vs_Features.launcher=Rscript
Diversity_vs_Features.loopBy=class, order, family, genus, species 

HumanN2_vs_Features.rmarkdown=./10_HumanN2_vs_Features/src/Pathways_vs_Features.Rmd
HumanN2_vs_Features.imageOwner=rocker
HumanN2_vs_Features.imageName=verse
HumanN2_vs_Features.imageTag=4.3.1

# docker image settings for genmod modules
# .imageOwner=rocker
Participant_Metadata.imageOwner=rocker
Clinical_Metrics.imageOwner=rocker
Feature_Interactions.imageOwner=rocker
Individual_Stability_16S.imageOwner=rocker
Individual_Stability_WGS.imageOwner=rocker
Taxonomy_vs_Features.imageOwner=rocker
Diversity_Metrics.imageOwner=rocker
Diversity_Markdown.imageOwner=rocker
Diversity_vs_Features.imageOwner=rocker
HumanN2_vs_Features.imageOwner=rocker

# .imageName=verse
Participant_Metadata.imageName=verse
Clinical_Metrics.imageName=verse
Feature_Interactions.imageName=verse
Individual_Stability_16S.imageName=verse
Individual_Stability_WGS.imageName=verse
Taxonomy_vs_Features.imageName=verse
Diversity_Metrics.imageName=verse
Diversity_Markdown.imageName=verse
Diversity_vs_Features.imageName=verse
HumanN2_vs_Features.imageName=verse

#.imageTag=4.3.1
Participant_Metadata.imageTag=4.3.1
Clinical_Metrics.imageTag=4.3.1
Feature_Interactions.imageTag=4.3.1
Individual_Stability_16S.imageTag=4.3.1
Individual_Stability_WGS.imageTag=4.3.1
Taxonomy_vs_Features.imageTag=4.3.1
Diversity_Metrics.imageTag=4.3.1
Diversity_Markdown.imageTag=4.3.1
Diversity_vs_Features.imageTag=4.3.1
HumanN2_vs_Features.imageTag=4.3.1

# .verifyImage=N
Participant_Metadata.verifyImage=N
Clinical_Metrics.verifyImage=N
Feature_Interactions.verifyImage=N
Individual_Stability_16S.verifyImage=N
Individual_Stability_WGS.verifyImage=N
Taxonomy_vs_Features.verifyImage=N
Diversity_Metrics.verifyImage=N
Diversity_Markdown.verifyImage=N
Diversity_vs_Features.verifyImage=N
# But YES for one module for each docker image. 
# Make it happen at the end so as to find other errors sooner.
HumanN2_vs_Features.verifyImage=Y

