# To run this pipeline:
# biolockj anigma_stress.config

#BioModule biolockj.module.diy.Rmarkdown AS Participant_Metadata
##BioModule biolockj.module.diy.GenMod AS Clinical_Metrics
##BioModule biolockj.module.diy.GenMod AS Stress_Metrics
##BioModule biolockj.module.diy.GenMod AS Feature_Interactions
##BioModule biolockj.module.diy.GenMod AS Taxony_vs_Features
##BioModule biolockj.module.diy.GenMod AS Ordination_vs_Features
##BioModule biolockj.module.diy.GenMod AS Ordination_Deltas
##BioModule biolockj.module.diy.GenMod AS Diversity
##BioModule biolockj.module.diy.GenMod AS Uniqueness

input.dirPaths=./input
pipeline.copyInput=Y
input.ignoreFiles=README.md
pipeline.inputTypes=other

Participant_Metadata.rmarkdown=./01_Participant_Metadata/src/meta-per-participant.Rmd
Participant_Metadata.imageOwner=rocker
Participant_Metadata.imageName=verse
Participant_Metadata.imageTag=4.3.1
Participant_Metadata.verifyImage=N





