# To run this pipeline:
# biolockj anigma_stress.config

#BioModule biolockj.module.diy.GenMod AS Participant_Metadata
#BioModule biolockj.module.diy.Rmarkdown AS Clinical_Metrics
##BioModule biolockj.module.diy.GenMod AS Stress_Metrics
#BioModule biolockj.module.diy.Rmarkdown AS Feature_Interactions
##BioModule biolockj.module.diy.GenMod AS Taxony_vs_Features
##BioModule biolockj.module.diy.GenMod AS Ordination_vs_Features
##BioModule biolockj.module.diy.GenMod AS Ordination_Deltas
##BioModule biolockj.module.diy.GenMod AS Diversity
##BioModule biolockj.module.diy.GenMod AS Uniqueness

input.dirPaths=./input
pipeline.copyInput=Y
input.ignoreFiles=README.md
pipeline.inputTypes=other


Participant_Metadata.scriptPath=./01_Participant_Metadata/src/meta-per-participant.R
Participant_Metadata.launcher=Rscript

Clinical_Metrics.rmarkdown=./02_Clinical_Metrics/src/clinical-metrics.Rmd 
Clinical_Metrics.imageOwner=rocker
Clinical_Metrics.imageName=verse
Clinical_Metrics.imageTag=4.3.1

Feature_Interactions.rmarkdown=./04_Feature_Interactions/src/feature-interactions.Rmd
Feature_Interactions.imageOwner=rocker
Feature_Interactions.imageName=verse
Feature_Interactions.imageTag=4.3.1
Feature_Interactions.verifyImage=N





